<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modalTitle">{{msg . "protect"}} <b>{{.title}}</b></h4>
        </div>
        {{$noteOrNotebookId := .noteOrNotebookId}}

        <div class="modal-body">
            <div class="form-horizontal" role="form">
                <div class="alert alert-warning">
                    {{.shareTip}}
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">{{msg . "protection password"}}</label>
                        <div class="col-sm-10">
                            <input aria-label="" id="sharePwd" type="text" class="form-control" value="{{.sharePwd}}"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" id="genPwd" class="btn btn-default">{{msg . "generatePassword"}}</button>
            <button type="button" id="submit" class="btn btn-success btn-share-or-not">{{msg . "Submit"}}</button>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    Share.dialogIsNote = {{.isNote}};
    Share.dialogNoteOrNotebookId = '{{.noteOrNotebookId}}';

    function randomPassword(size){//size是生成随机密码的位数
        var seed=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','P','Q','R','S','T','U','V','W','X','Y','Z',
            'a','b','c','d','e','f','g','h','i','j','k','m','n','p','Q','r','s','t','u','v','w','x','y','z','0','1',
            '2','3','4','5','6','7','8','9'];//数组

        var seedlength=seed.length;//数组长度

        var createPassword='';

        for(let i=0;i<size;i++){
            var a = Math.floor(Math.random()*seedlength);

            createPassword+=seed[a];
        }

        return createPassword;
    }

    $('#genPwd').on('click', function () {
        let text = randomPassword(8);

        $('#sharePwd').val(text);
    });
    $('#submit').on('click', function () {
        var text = $('#sharePwd').val();

        ajaxPost('/share/secret', {
            sharePwd: text,
            typeName: "{{.typeName}}",
            dataId: Share.dialogNoteOrNotebookId
        }, function (res) {
            $("#leanoteDialogRemote").modal('hide');

            var type = res.MsgType || 'success';

            notify({type: type, text: res.Msg});
        });
    });
</script>