<nav class="nav-primary hidden-xs">
	<ul class="nav" id="nav">
	
		<li class="active">
			<a href="/admin/index">
				<i class="fa fa-dashboard icon">
					<b class="bg-success">
					</b>
				</i>
				<span>
					{{msg . "Dashboard"}}
				</span>
			</a>
		</li>
		
		<li id="adminUserNav">
			<a href="#">
				<i class="fa fa-users icon">
					<b class="bg-danger">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					{{msg . "UserAdmin"}}
				</span>
			</a>
			<!-- 导航列表 -->
			<ul class="nav lt">
				<li>
					<a href="/adminUser/index">
						<span>
							{{msg . "Users"}}
						</span>
					</a>
				</li>
				<li>
					<a href="/adminUser/add">
						<span>
							{{msg . "Add User"}}
						</span>
					</a>
				</li>
			</ul>
		</li>
		
		<li>
			<a href="/adminBlog/index">
				<i class="fa fa-file icon">
					<b class="bg-warning">
					</b>
				</i>
				<span>
					{{msg . "blog"}}
				</span>
			</a>
		</li>
		<li id="adminEmailNav">
			<a href="#layout">
				<i class="fa fa-envelope-o icon">
					<b class="bg-warning">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					{{msg . "email"}}
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=email/set">
						<span>
							{{msg . "configuration"}}
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/template">
						<span>
							{{msg . "emailTemplate"}}
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/sendToUsers">
						<span>
							{{msg . "sendEmailToUsers"}}
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/send">
						<span>
							{{msg . "sendEmail"}}
						</span>
					</a>
				</li>
				<li>
					<a href="/adminEmail/list">
						<span>
							{{msg . "emailLogs"}}
						</span>
					</a>
				</li>
			</ul>
		</li>
		
		<li id="adminSettingNav">
			<a href="#layout">
				<i class="fa fa-cog icon">
					<b class="bg-info">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					{{msg . "configuration"}}
				</span>
			</a>
			<ul class="nav lt">

				<li>
					<a href="/admin/t?t=setting/site_url">
						<span>
							{{msg . "sitesURL"}}
						</span>
					</a>
				</li>

				<li>
					<a href="/admin/t?t=setting/home_page">
						<span>
							{{msg . "homePage"}}
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/demo">
						<span>
							{{msg . "demoUser"}}
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/open_register">
						<span>
							{{msg . "openRegister"}}
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/share_note">
						<span>
							{{msg . "Register Share Note"}}
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/upload">
						<span>
							{{msg . "uploadFileSettings"}}
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/export_pdf">
						<span>
							{{msg . "exportPdf"}}
						</span>
					</a>
				</li>
				
			</ul>
		</li>
		
		<li>
			<a href="#">
				<i class="fa fa-columns icon">
					<b class="bg-success">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				
				<span>
					{{msg . "dataAdmin"}}
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=data/configuration">
						<span>
							{{msg . "mongodbToolConfiguration"}}
						</span>
					</a>
				</li>
				<li>
					<a href="/adminData/index">
						<span>
							{{msg . "backupAndRestore"}}
						</span>
					</a>
				</li>
			</ul>
		</li>
		<!--
		<li>
			<a href="#">
				<i class="fa fa-space-shuttle icon">
					<b class="bg-danger">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				
				<span>
					Upgrade
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=upgrade/beta2">
						<span>
							v1.0-beta to v1.0-beta.2
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=upgrade/beta3">
						<span>
							v1.0-beta.2/3 to v1.0-beta.4
						</span>
					</a>
				</li>
			</ul>
		</li>
		-->
	</ul>
</nav>
